.cnto-page {
  .important {
    color: $important-text-color;
  }

  .well {
    background: #f0f0f0;
    padding: .75em;
    border-radius: 5px;

    &.important {
      background: lighten($important-text-color, 60%);
    }
  }

  .content {
    h1, h2, h3, h4, ul, p, ol, dl, table {
      margin-bottom: 1em;
    }
  }
}

#page-wrap .cnto-page {
  color: $normal-text-color;
}
