
@mixin tag($tagname) {
  background-image: url("http://files.enjin.com/821401/site_user_tags_highres/" + map-get($tagsmap, $tagname) + ".png");
  background-repeat: no-repeat;
}

@mixin tag-classes($suffix: "") {
  &.tag-recruit #{$suffix}{ @include tag("recruit"); }
  &.tag-grunt #{$suffix}{ @include tag("grunt"); }
  &.tag-spc #{$suffix}{ @include tag("spc"); }
  &.tag-tspc #{$suffix}{ @include tag("tspc"); }
  &.tag-jrnco #{$suffix}{ @include tag("jrnco"); }
  &.tag-nco #{$suffix}{ @include tag("nco"); }
  &.tag-snco #{$suffix}{ @include tag("snco"); }
  &.tag-co #{$suffix}{ @include tag("co"); }
  &.tag-xo #{$suffix}{ @include tag("xo"); }
  &.tag-vmaker #{$suffix}{ @include tag("vmaker"); }
  &.tag-con #{$suffix}{ @include tag("con"); }
  &.tag-interviewer #{$suffix}{ @include tag("interviewer"); }
  &.tag-promoter #{$suffix}{ @include tag("promoter"); }
  &.tag-trainer #{$suffix}{ @include tag("trainer"); }
  &.tag-mission-maker #{$suffix}{ @include tag("mission-maker"); }
}

.cnto-page {
  position: relative;

  section {
    margin: 1.5em 0;
    padding: 1px 0;
    border-bottom: 1px solid #ccc;
  }

  header.hero {
    font-size: 150%;
    text-align: center;
    margin: 2em 0;
    padding: 1px 0;
  }

  h1 {
    font-size: 250%;
  }

  h2 {
    font-size: 175%;
  }

  h3 {
    font-size: 125%;
  }

  h1, h2, h3, h4, h5, h6, p, ul, ol, table {
    margin: 0 0 1em 0;
    font-weight: normal;
  }

  h1, h2 {
    color: $primary-color;
  }

  a {
    color: $primary-color;

    &:hover {
      color: $alternative-color;
      text-decoration: none;
    }
  }
   ul {
     ul {
       margin-left: 2em;
       li {
         list-style: circle;
       }
     }
   }

  .page-content.with-nav {
    margin-right: $nav-size * 1.3;
  }

  .page-nav {
    position: absolute;
    top: 0;
    right: -10px;

    &.scrolled {
      position: fixed;
      top: 50%;
      right: 50%;
      margin-right: -302px;
      transform: translate(0, -50%);
    }

    h2 {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    ul li {
      display: block;
      list-style: none;
    }
    a {
      $padding: 5px;

      display: block;
      border-bottom: 1px solid #ccc;
      background-position: right 5px center;
      background-size: $nav-size;
      padding: $padding $nav-size $padding $padding*2;
      color: #fff;
      text-decoration: none;
      line-height: $nav-size;
      height: $nav-size;

      .entry-text {
        line-height: $nav-size;
        display: none;
        margin-right: $padding*3;
      }

      &:hover {
        background-color: #666;
      }

      @include tag-classes;
    }

    &:hover {
      background-color: $primary-color;
      box-shadow: 0 0 2px rgba(0,0,0,.25);

      .entry-text {
        display: block;
      }

      a {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

