tr td {
  div.pilot-ribbon {
    background: white url("http://files.enjin.com/821401/styles/images/ribbons/pilot.jpg") no-repeat 5% 0px;

    float: left;
    display: inline;
    background-size: 100%;
    width: 90px;
    padding: 25px 0 5px;
    margin-right: 0px;
    margin-bottom: 2px;
  }
  
  div.airborne-ribbon {
    background: white url("http://files.enjin.com/821401/styles/images/ribbons/airborne.jpg") no-repeat 5% 0px;
    float: left;
    display: inline;
    background-size: 100%;
    width: 90px;
    padding: 25px 0 5px;
    margin-bottom: 2px;
  }

  div.op-rs-tod-ribbon {
    background: white url("http://files.enjin.com/821401/styles/images/ribbons/op-rs-tod.jpg") no-repeat 5% 0px;
    float: left;
    display: inline;
    background-size: 100%;
    width: 90px;
    padding: 25px 0 5px;
    margin-bottom: 2px;
  }

}

.decorated-members table {
  tbody tr th.community-members {
    width: 200px;
  }
  
  tbody tr th.ribbons {
  }
  
  tr td div {
      margin-left: 2px;
  }
}

.qualifications table {
  tr td.qualification-header {
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  
  th.qualified-member {
    width: 33%;
  }
  
  th.ribbon-type {
    width: 256px;
  }
  
  th.date-qualified {
    width: 33%;
  }
  
  tr td div {
    margin-left: 75px;
  }

}
