.pilot-ribbon {
  float: left;
  background: white url("http://files.enjin.com/821401/styles/images/ribbons/pilot.jpg") no-repeat 5% 0px;
  display: block;
  background-size: 66%;
  width: 150px;
  padding: 25px 0 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.airborne-ribbon {
  float: left;
  background: white url("http://files.enjin.com/821401/styles/images/ribbons/airborne.jpg") no-repeat 5% 0px;
  display: block;
  background-size: 66%;
  width: 150px;
  padding: 25px 0 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.op-rs-tod-ribbon {
  float: left;
  background: white url("http://files.enjin.com/821401/styles/images/ribbons/op-rs-tod.jpg") no-repeat 5% 0px;
  display: block;
  background-size: 66%;
  width: 150px;
  padding: 25px 0 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.qualifications table th {
  width: 33%;
}

table tr td.qualification-header {
  text-align: left;
}