/* Rank page */
.cnto-page-rank {
  .basic-responsabilities ul {
    font-size: 110%;
    line-height: 1.75;
  }
}
.cnto-page {
  .community-layers {
    display: table;
    width: 100%;
    margin: 2em 0;

    .layer {
      display: table-row;
      border-bottom: 1px solid #eee;

      .name,
      .description {
        display: table-cell;
        padding: 1em .5em;
        vertical-align: middle;
      }

      &:hover {
        background: $light-bg-highlight-color;
        box-shadow: 0 0 10px #ccc;
      }

      &:last-child {
        border: none;
      }

      .name {
        width: 35%;
        text-align: center;
        font-size: 150%;
        line-height: 1.5;
        color: $alternative-color;

        &:hover {
          color: $primary-color;
        }
      }

      .description{
        font-size: 115%;
        width: 65%;
        text-align: left;
        ul {
          margin-bottom: 0;
          li {
            margin: .25em;
          }
        }
      }
    }
  }

  /* Rank presentation */
  .rank {
    @include tag-classes(".content");

    header {
      margin: 0 0 2em;
      background: #f5f5f5;

      h2 {
        display: inline-block;
        margin: 0;
        padding: 3px 5px;
        font-size: 130%;
        font-weight: normal;
        background: $primary-color;
        line-height: 25px;
      }

      .name {
        padding: .25em;
        font-size: 120%;
        color: #fff;
      }

      .tag {
        background: #fff;
        color: #333;
        display: block;
        float: right;
        padding: 0 .5em;
        margin-left: .5em;
        line-height: 25px;
        font-size: 90%;
        font-weight: bold;
        border-radius: 2px;
      }
    }

    .content {
      padding-left: 225px;
      line-height: 1.5;
      background-position: 25px 0;
      background-repeat: no-repeat;
      background-size: 150px;

      h3, ul, p {
        margin-bottom: 1em;
      }
    }
  }
}
