$primary-color: #bd910d;
$alternative-color: #1C1C84;

$tagsmap: (recruit: 1164126,
           grunt: 1164127,
           tspc: 1165093,
           spc: 1165134,
           jrnco: 1164128,
           nco: 1164131,
           snco: 1164132,
           xo: 1164133,
           co: 1164134,
           contributor: 1164261,
           training: 1304218,
           pr: 1304219,
           interviewer: 1304209,
           video: 1304194);

$nav-size: 30px;
