$primary-color: #bd910d;
$alternative-color: #333;
$important-text-color: #b80000;
$light-border-color: #eee;
$light-bg-highlight-color: #f5f5f5;
$normal-text-color: #444;
$darker-text-color: #000;

$tagsmap: (recruit: 'Recruit',
           res: 'Reservist',
           grunt: 'Grunt',
           tspc: 'Technical Specialist',
           spc: 'Specialist',
           jrnco: 'JrNCO',
           nco: 'NCO',
           ssgt: 'SSgt',
           xo: 'XO',
           co: 'CO',
           con: 'Contributor (Gold)',
           trainer: 'Trainer',
           promoter: 'PublicRelations',
		       rnd: 'RnD',
           designer: 'Designer',
           interviewer: 'Interviewer',
           mm: 'Mission Making - Head',
           vmaker: 'Video Making - Head',
           
           qualifications: 'Qualifications',
           training-ribbons: 'Training Ribbons',
           community-rewards: 'Community Rewards');
		   
$socialtagsmap: (irc: 'irc',
           steam: 'steam',
           twitter: 'twitter',
           youtube: 'youtube');

$nav-size: 30px;
