$primary-color: #bd910d;
$alternative-color: #333;
$important-text-color: #b80000;

$tagsmap: (recruit: 'Recruit',
           grunt: 1164127,
           tspc: 'Technical Specialist',
           spc: 'Specialist',
           jrnco: 1164128,
           nco: 'NCO',
           snco: 'SNCO',
           xo: 'XO',
           co: 'CO',
           con: 'Contributor (Gold)',
           trainer: 'Training - Head',
           promoter: 'Public Relations - Head',
           interviewer: 'Interviewer - Head',
           mission-maker: 'Mission Making - Head',
           vmaker: 'Video Making - Head');

$nav-size: 30px;
